In [1]:
import pandas as pd
import matplotlib as mlt  
import numpy as np 

%matplotlib inline

In [2]:
#importing data
heart_disease_data = pd.read_csv("heart-disease.csv")
heart_disease_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# spliting data

In [3]:
x = heart_disease_data.drop("target",axis=1)
y = heart_disease_data["target"]

In [4]:
# split the data into traning and test sets
from sklearn.model_selection import  train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y, test_size=.2)

In [5]:
x_train.shape , x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

# make sure its all numerical

In [6]:
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [7]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [8]:
#split into x and y
x= car_sales.drop("Price",axis=1)
y=car_sales["Price"]

#split into traing and test sets
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.2)

In [9]:
#building machine learning model
# from sklearn.ensemble import RandomForestRegressor
# model = RandomForestRegressor()
# model.fit(x_train , y_train)
# model.score(x_train,y_train)

In [10]:
#turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

catogorical_features = ["Make","Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  catogorical_features )],
                                  remainder ="passthrough")
transformed_x= transformer.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(transformed_x,y, test_size=.2)

In [11]:
y_train

7     $7,000.00
8     $6,250.00
3    $22,000.00
9     $9,700.00
2     $7,000.00
1     $5,000.00
0     $4,000.00
6     $7,500.00
Name: Price, dtype: object

In [28]:
import pandas as pd
import numpy as np

data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
data

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\divso\AppData\Local\Temp\ipykernel_10592\4077019840.py:5: SyntaxWarning: invalid escape sequence '\s'
  raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [32]:
heart_disease_data = pd.read_csv("data/heart-disease.csv")